body {
  margin: 0;
  font-family: Segoe UI, Tahoma, sans-serif;
  align-items: center;
}

.calendar-container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
  padding-top: 10px;
}

.calendar-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.calendar-close-button {
  position: absolute;
  right: -25px;
  color: grey;
}

.calendar-modal {
  display: flex;
  margin: auto;
  width: fit-content;
  position: absolute;
  transform: translateY(-50%);
  left: 50%;
}
