.page {
  background-color: lightgray;
  height: 100%;
  width: 100%;
}
.reservations {
  background-color: white;
}
.schedule-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 40px;
  overflow-y: visible;
}
.schedule {
  display: flex;
}

.navigation {
  display: flex;
  bottom: 0;
  padding-bottom: 1%;
}
.calendar {
}
.header {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  padding: 10px;
  height: 10%;
  width: 100%;
  background-color: white;
}

.footer {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  width: 100%;
  display: flex;
  background-color: white;
}
