.page {
  background-color: lightgray;
  height: 100%;
  width: 100%;
}
.reservations {
  background-color: white;
  min-height: 50%;
}
header {
  height: 50%;
  background-color: white;
}
.schedule-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 40px;
  padding-top: 40px;
  overflow-x: scroll;
}
.schedule {
  display: flex;
  width: 100%;
  min-width: 600px;
  padding-right: 10px;
}
.image-container {
  position: relative;
}
.room-info {
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  transition: 2s ease;
}
.logout-button {
  height: 60px;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.image-container:hover .header-left {
  opacity: 0.3;
  border: 5px solid white;
  transition: 2s ease;
}
.image-container:hover .room-info {
  opacity: 1;
  transition: 2s ease;
}

.navigation {
  display: flex;
  bottom: 0;
  padding-bottom: 1%;
}
.calendar {
}
.header {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  padding: 10px;
  height: 10%;
  width: 100%;
  background-color: white;
}
